{% extends 'layout.html' %}
{% load static %}
{% block content %}
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
<html>
<div class="section section--gradient-bg">
  <div class="container">
    <div class="layout layout--horizontal layout--stack-1050 layout--full-screen">
      <div class="layout__section layout__grow">
        <head>
		<b><h1 class='title title--1;' style='color:white;font-size:32px'>Realist AI's access has been revoked</h1></b>
        </head>
        <body>
          <p style='color:white;font-size:16px'>You have revoked Realist AI's access to your account. Thank you very much. Have a good day.</p>
        </body>
     </div>
    </div>
  </div>
</div>
</html>
{% endblock %}
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br><br><br><br>
